<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kaching123.tcr"
    android:versionCode="23"
    android:versionName="2.00">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <permission
        android:name="android.permission.HARDWARE_TEST"
        android:label="hardware/permlab_hardware_test"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="signature" />
    <application
        android:name=".TcrApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.UsbEventReceiverActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:process=":UsbEventReceiverActivityProcess"
            android:taskAffinity="com.example.taskAffinityUsbEventReceiver"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </activity>
        <activity
            android:name=".activity.DashboardActivity_"
            android:clearTaskOnLaunch="true"
            android:label="@string/dashboard_activity_label"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CashierActivity_"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.QuickServiceActivity_"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.SettingsActivity_"
            android:label="@string/settings_activity_label"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.Settings" />
        <activity
            android:name=".activity.InventoryActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.DarkSpinner" />

        <activity
            android:name=".activity.EditItemActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AddItemActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ComposerActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.ModifierActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.AddReferenceItemActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.EditReferenceItemActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.VariantsActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SuperBaseActivity_"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.LoginActivity_"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.CopyModifiersActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.UnitLabelActivity_"
            android:label="@string/units_activity_label"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.HistoryActivity_"
            android:label="@string/history_activity_label"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.Holo.NoCapsTabText"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.CategoriesActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.UnitActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.DepartmentActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.EmployeesActivity_"
            android:label="@string/employees_activity_label"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.CustomersActivity_"
            android:label="@string/customers_activity_label"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.EditCustomerActivity_"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name=".activity.EditEmployeeActivity_"
            android:label="@string/employees_edit_activity_label"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.EmployeeTimeAttendanceActivity_"
            android:label="@string/employees_attendance_activity_label"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.Holo.NoCapsTabText"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.AddEmployeeActivity_"
            android:label="@string/employees_add_activity_label"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.PermissionActivity_"
            android:label="@string/permissions_activity_label"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.TaxGroupsActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TaxGroupsEcuadorActivity_"
            android:label="@string/inventory_activity_label"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.ReportsActivity_"
            android:label="@string/reports_activity_label"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.Holo.NoCapsTabText" />

        <activity
            android:name=".activity.XReportActivity_"
            android:label="@string/xreport_activity_label" />

        <activity
            android:name=".activity.ZReportActivity_"
            android:label="@string/xreport_activity_label" />

        <activity
            android:name=".activity.PrinterAliasActivity_"
            android:label="@string/printer_alias_label"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.CreditReceiptsActivity_"
            android:label="@string/credit_receipt_activity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.Holo.NoCapsTabText" />

        <activity
            android:name=".activity.ActivationActivity_"
            android:label="@string/activation_activity_label"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignupActivity_"
            android:label="@string/signup_activity_label"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.PrepaidActivity.PrepaidProcessorActivity_"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".activity.PrepaidActivity.PrepaidLongDistanceActivity_"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".activity.PrepaidActivity.PrepaidSunPassActivity_"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <service
            android:name="com.telly.groundy.GroundyService"
            android:exported="false" />
        <service
            android:name=".service.OfflineCommandsService"
            android:exported="true" />
        <service
            android:name=".service.DisplayService"
            android:exported="false" />
        <service
            android:name=".service.ScannerService"
            android:exported="false" />

        <provider
            android:name=".store.ShopProviderExt"
            android:authorities="${applicationId}.store.AUTHORITY"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.store.files"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".receiver.NetworkStateListener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.SerialPortScannerService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".AutoUpdateService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".service.ScaleService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
